
<div class="row topImage box">
    <img src="/img/top-images/cambridge-top.jpg" />
</div>

<div class="row box">
    <div class="col-md-12">
        <h1>Cambridge Weight Plan </h1>
        <p>Změnit životní styl není nikdy jednoduché. Tento krok je ještě složitější, když znamená převzít zodpovědnost za zdraví vlastního těla. To je také důvod, proč je odborná porada na začátku a soustavná podpora během celého období držení diety a přechodu na pevnou stravu tak důležitá pro získání požadovaného výsledku.</p>
        <h2>Co je Cambridge Weight Plan?</h2>
        <p>Cambridge Weight Plan je <strong>bezpečný, rychlý a účinný program</strong> pro <strong>redukci hmotnosti</strong>, tvarování postavy a podporu zdraví. Unikátní výživový program, který vám umožní trvalý a bezpečný <strong>úbytek tuků</strong>. Klinicky testované produkty Cambridge Weight Plan jsou určeny všem, kteří chtějí rychle, zdravě a především bezpečně snížit svoji nadváhu a získanou váhu si udržet. Cílem Cambridge Weight Plan je také navést člověka ke<strong> zdravému a aktivnímu způsobu života</strong> s pravidelnou a vyváženou stravou.</p>
        <h2>Jak mi Cambridge Weight Plan pomůže?</h2>
        <p>Výživový program s Cambridge Weight Plan je ideální pro:</p>
        <ul>
            <li>detoxikaci celého těla</li>
            <li>nastartování metabolismu a zlepšení zdraví</li>
            <li>získání více energie</li>
            <li>zvýšení tělesné váhy</li>
            <li>osoby, které nemají dostatek času jako plnohodnotná náhrada jídla</li>
        </ul>
        <h2>Z čeho se výživový plán skládá?</h2>
        <p>Cambridge Diet obsahuje vysoce hodnotné bílkoviny a minimální množství tuků, v průměru v jedné porci <strong>14,1 g sacharidů</strong>, <strong>14,4 g bílkovin</strong>, <strong>2,7 g tuků</strong> a <strong>2,5 g vlákniny</strong>. Jedna porce obsahuje <strong>33% DDD</strong> (doporučená denní dávka) vitaminů, minerálů a stopových prvků. Dieta může kompletně nahradit stravu. Denní příjem 414 až 552 kcal znamená, že v nejkratším možném čase ztratíte nadbytečné kilogramy a rychle získáte zpět <strong>ideální váhu</strong>. Rychle snížit nadváhu neznamená, že se ztracená kila stejně rychle vrátí. Rychle znamená pouze, že dietu nebudete muset užívat dlouho.</p>
        <h2>Jak to celé funguje?</h2>
        <p>Je to velmi jednoduché, nic nevážíte a nepočítáte žádné kalorie. Vše je baleno po porcích, které si můžete kdykoliv a kdekoli jednoduše připravit. Postačí vám k tomu voda a vaše Cambridge Diet. Každá porce obsahuje 1/3 DDD (doporučená denní dávka) vitaminů, minerálů a stopových prvků.</p>
        <p>Prvních pár dnů pro vás bude nejtěžších, ale jakmile si zvyknete na jinou stravu, vše se vám změní. Po prvním týdnu ztratíte první centimetry a budete se cítit „lehčí“. Po prvních čtrnácti dnech už budete vidět další úspěchy. Zmenší se vám obvod pasu, vaše oblíbené a možná pro některé ,,jediné" oblečení, do kterého jste se vešli, vám začne být volnější a vy se budete cítit lépe. Nesmíte však usnout na vavřínech a pokračovat dál.</p>
        <p>Na nic nečekejte, kdykoliv je ten pravý čas začít.</p>
    </div>
</div>