<div class="row">
    <div class="selector box col-sm-3" ng-repeat="item in dataSource.subsidiaries">
        <h2>{{ item.name }}</h2>
        <div class="imgUnder">
            <a href="{{ item.subId }}">
                <img src="img/icons/icon-{{ item.subId }}.jpg" />
            </a>
        </div>
    </div>
</div>

<div class="row box">
    <div class="col-md-12">
        <h3>Vítejte</h3>
        <p><span>Vítejte na webových stránkách salonu Mysthic Beauty. Pokud Vás zajímají naše služby, můžete si projít nabídku <a href="/{localLink:1073}" title="Služby a ceník">masáží</a>, <a href="/{localLink:1078}" title="Služby a ceník">kadeřnictví</a> a <a href="/{localLink:1082}" title="Služby a ceník">kosmetiky</a>. Pro objednávku můžete využít kontaktní údaje v zápatí stránek, kde zároveň naleznete naši adresu. Těšíme se na Vaši návštěvu.</span></p>
    </div>
</div>
